<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="posts.scss">
    <link href="https://use.fontawesome.com/releases/v5.10.1/css/all.css" rel="stylesheet">
    <title>burgernavi</title>
  </head>
  <body>
  <header>
    <h1>バガナビ関西</h1>
    <div class="search">
      <div class="search-box">
       <form>
       <input type="text" placeholder="キーワードを入力してください">
       </form>
      </div>
      <div class="search-btn">
      <i class="fas fa-search"></i>
      </div>
    </div>
    <% if user_signed_in? %>
          <div class="user_nav grid-6">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete , class: "post"%>
            <%= link_to  "投稿する", "/tweets/new", class: "post" %>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "ログイン", new_user_session_path, class: 'post' %>
            <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
          </div>
        <% end %>
  </header>
  <div class="contents">
    <div class="side-content">
      <div class="area-map">
      エリアから探す
        <ul>
          <li>大阪</li>
          <li>兵庫</li>
          <li>京都</li>
          <li>奈良</li>
          <li>和歌山</li>
          <li>滋賀</li>
        </ul>
      </div>
      <div class="service-map">
      サービスから探す
        <ul>
          <li>イートイン有</li>
          <li>テイクアウト可</li>
          <li>ウーバーイーツ</li>
          <li>駐車場あり</li>
        </ul>
      </div>
    </div>
    <div class="main-content">
      <div class="shop-content">
        <div class="shop-header">
          <div class="shop-name">
          HELLO NEW DAY
          </div>
          <div class="shop-addres">
          大阪
          </div>
          <div class="shop-station">
          本町
          </div>
          <div class="shop-service">
            サービス:
            <i class="fas fa-utensils"></i>
            <i class="fas fa-shopping-bag"></i>
            <img src="https://cdn-ak.f.st-hatena.com/images/fotolife/T/TeruhY/20191015/20191015063632.jpg" class="uber">
            <i class="fas fa-parking"></i>
          </div>
        </div>
        <div class="shop-main">
          <div class="shop-picture">
            <div class="top-picture">
            </div>
            <ul class="bottom-picture">
              <li class="picture-itm">A</li>
              <li class="picture-itm">B</li>
              <li class="picture-itm">C</li>
              <li class="picture-itm">D</li>
              <li class="picture-itm">E</li>
            </ul>
          </div>
          <div class="shop-contents">
            <div class="shop-review">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <div class="average-point">3.5</div>
              <div class="length">12件</div>
            </div>
            <div class="shop-holiday">
            休:月曜日
            </div>
            <div class="shop-tel">
            <i class="fas fa-phone-square-alt"></i>
            06-6536-8615
            </div>
            <div class="comment">
              <div class="comment1">
              うまい
              </div>
              <div class="comment2">
              サイコー
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shop-content">
        <div class="shop-header">
          <div class="shop-name">
          The Burger Stand nutmeg
          </div>
          <div class="shop-addres">
          大阪
          </div>
          <div class="shop-station">
          深井
          </div>
          <div class="shop-service">
          サービス:
            <i class="fas fa-utensils"></i>
            <i class="fas fa-shopping-bag"></i>
            <img src="https://cdn-ak.f.st-hatena.com/images/fotolife/T/TeruhY/20191015/20191015063632.jpg" class="uber">
            <i class="fas fa-parking"></i>
          </div>
        </div>
        <div class="shop-main">
          <div class="shop-picture">
            <div class="top-picture">
            </div>
            <ul class="bottom-picture">
              <li class="picture-itm">A</li>
              <li class="picture-itm">B</li>
              <li class="picture-itm">C</li>
              <li class="picture-itm">D</li>
              <li class="picture-itm">E</li>
            </ul>
          </div>
          <div class="shop-contents">
            <div class="shop-review">
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <i class="far fa-star"></i>
              <div class="average-point">3.5</div>
              <div class="length">12件</div>
            </div>
            <div class="shop-holiday">
            休:無し
            </div>
            <div class="shop-tel">
            <i class="fas fa-phone-square-alt"></i>
            072-247-7077
            </div>
            <div class="comment">
              <div class="comment1">
              うまい
              </div>
              <div class="comment2">
              サイコー
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="right-content">
    </div>
  </div>
  </body>
  <footer>
  </footer>
</html>